.is-noscroll {
    pointer-events: none;
    height: 100%;
    overflow: hidden;

    .header,
    .main-nav,
    .top {
        pointer-events: auto;
    }
}

.header {
    min-height: $desktop-header-height;
    background-color: $brand-color;
    padding: 15px 0;
    position: relative;
    z-index: 200;

    @include until($small-tablet) {
        min-height: $mobile-header-height;
    }

    img {
        display: block;
    }

    .menu-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn{
        background-color: red;
        border-radius: 16px;
    }

    a.hover{
        background-color: rgb(255, 140, 0);
    
    }
}
